# Configuration file

~CONFIG_VERSION: 1

client {
    # Trophy tags that will be displayed on the Simple Trophies creative tab. Obtain them by right clicking a trophy in the air in creative. One per line, please.
    # 
    #  [default: [{TrophyName:"Add your own trophies here in the config!",TrophyVariant:"classic",TrophyItem:{id:"minecraft:diamond_axe",Count:1b,Damage:0s},TrophyColorRed:65,TrophyColorGreen:205,TrophyColorBlue:52}]]
    S:creativeTabTrophies <
        {TrophyName:"我有一个梦想，想要与你一同见证",TrophyVariant:"neon",TrophyItem:{id:"gtlitecore:dimension_display_overworld",Count:1b,Damage:0s},TrophyColorRed:102,TrophyColorGreen:119,TrophyColorBlue:204}
        {TrophyName:"蒸汽时代",TrophyVariant:"neon",TrophyItem:{id:"gregtech:steam_casing",Count:1b,Damage:0s},TrophyColorRed:255,TrophyColorGreen:128,TrophyColorBlue:0}
        {TrophyName:"合金技术起步",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_ingot",Count:1b,Damage:324s},TrophyColorRed:128,TrophyColorGreen:128,TrophyColorBlue:128}
        {TrophyName:"从胶乳到橡胶",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_plate",Count:1b,Damage:1068s},TrophyColorRed:0,TrophyColorGreen:0,TrophyColorBlue:0}
        {TrophyName:"最原始的电子元件",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:516s},TrophyColorRed:128,TrophyColorGreen:195,TrophyColorBlue:224}
        {TrophyName:"你的第一个电路",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:621s},TrophyColorRed:88,TrophyColorGreen:77,TrophyColorBlue:158}
        {TrophyName:"低压",TrophyVariant:"neon",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:986s},TrophyColorRed:220,TrophyColorGreen:220,TrophyColorBlue:220}
        {TrophyName:"电力高炉",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10001s},TrophyColorRed:180,TrophyColorGreen:120,TrophyColorBlue:120}
        {TrophyName:"真正的采矿机",TrophyVariant:"classic",TrophyItem:{id:"gtlitecore:mte",Count:1b,Damage:10006},TrophyColorRed:75,TrophyColorGreen:75,TrophyColorBlue:135}
        {TrophyName:"更好的电子电路",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:622s},TrophyColorRed:11,TrophyColorGreen:142,TrophyColorBlue:77}
        {TrophyName:"中压",TrophyVariant:"neon",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:987s},TrophyColorRed:255,TrophyColorGreen:100,TrophyColorBlue:0}
        {TrophyName:"流体钻井平台",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10032s},TrophyColorRed:133,TrophyColorGreen:101,TrophyColorBlue:162}
        {TrophyName:"复杂电路工艺",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:361s},TrophyColorRed:123,TrophyColorGreen:123,TrophyColorBlue:123}
        {TrophyName:"高级电路",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:625s},TrophyColorRed:122,TrophyColorGreen:154,TrophyColorBlue:93}
        {TrophyName:"热解炉",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10004s},TrophyColorRed:153,TrophyColorGreen:204,TrophyColorBlue:102}
        {TrophyName:"高压",TrophyVariant:"neon",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:988s},TrophyColorRed:255,TrophyColorGreen:255,TrophyColorBlue:30}
        {TrophyName:"超净间",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10035s},TrophyColorRed:255,TrophyColorGreen:255,TrophyColorBlue:255}
        {TrophyName:"集成电路",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:630s},TrophyColorRed:31,TrophyColorGreen:245,TrophyColorBlue:45}
        {TrophyName:"大型化学反应釜",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10023s},TrophyColorRed:73,TrophyColorGreen:54,TrophyColorBlue:54}
        {TrophyName:"更好的单晶硅",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:362s},TrophyColorRed:200,TrophyColorGreen:200,TrophyColorBlue:200}
        {TrophyName:"石油处理",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10005s},TrophyColorRed:100,TrophyColorGreen:149,TrophyColorBlue:199}
        {TrophyName:"真空冷冻机",TrophyVariant:"classic",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:10002s},TrophyColorRed:180,TrophyColorGreen:207,TrophyColorBlue:235}
        {TrophyName:"超高压",TrophyVariant:"neon",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:989s},TrophyColorRed:128,TrophyColorGreen:128,TrophyColorBlue:128}
        {TrophyName:"结晶坩埚",TrophyVariant:"classic",TrophyItem:{id:"gtlitecore:mte",Count:1b,Damage:10013s},TrophyColorRed:132,TrophyColorGreen:112,TrophyColorBlue:255}
        {TrophyName:"压裂机",TrophyVariant:"classic",TrophyItem:{id:"gtlitecore:mte",Count:1b,Damage:10007s},TrophyColorRed:135,TrophyColorGreen:206,TrophyColorBlue:250}
        {TrophyName:"化学气相沉积",TrophyVariant:"classic",TrophyItem:{id:"gtlitecore:mte",Count:1b,Damage:10012s},TrophyColorRed:139,TrophyColorGreen:139,TrophyColorBlue:122}
        {TrophyName:"获得氡",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:281s},TrophyColorRed:139,TrophyColorGreen:101,TrophyColorBlue:8}
        {TrophyName:"纳米电路",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_item_1",Count:1b,Damage:632s},TrophyColorRed:30,TrophyColorGreen:144,TrophyColorBlue:255}
        {TrophyName:"石墨烯",TrophyVariant:"classic",TrophyItem:{id:"gregtech:meta_dust",Count:1b,Damage:342s},TrophyColorRed:105,TrophyColorGreen:105,TrophyColorBlue:105}
        {TrophyName:"强导压",TrophyVariant:"neon",TrophyItem:{id:"gregtech:mte",Count:1b,Damage:990s},TrophyColorRed:240,TrophyColorGreen:240,TrophyColorBlue:245}
     >

    # Show the date and time you earned the trophy on the tooltip and on hover. [default: true]
    B:showEarnedAt=true

    # Display the author of trophy models on their tooltips. [default: false]
    B:tooltipCredits=false

    perf {
        # Emergency killswitch for the in-inventory trophy renderer. Enable in cases of extreme performance issues or client rendering-related crashes.
        # (Requires a game restart in some cases.)
        # If this option is enabled, and skipItemBases is not, trophy item bases will render using a 'fast path' that is about as expensive as rendering a grass block item. This fast path is not compatible with the fancy trophy TEISR, to my knowledge. [default: false]
        B:noTileEntityItemStackRenderer=false

        # Emergency killswitch for the tile entity renderer. Enable in cases of extreme performance issues or client rendering-related crashes.
        # (Requires a game restart in some cases.) [default: false]
        B:noTileEntitySpecialRenderer=false

        # Emergency killswitch for trophies repeating their item's tooltip, in case one is crashing for whatever reason ('fancy' items tend to do things with their tooltip I can't properly catch) [default: false]
        B:noTooltip=false

        # Don't show the items on top of trophies placed in the world. Saves on performance. [default: false]
        B:skipBlockItems=false

        # Don't show trophy bases on trophies in your inventory and on other GUIs. Saves on performance. [default: false]
        B:skipItemBases=false

        # Don't show the items on top of trophies in your inventory and on other GUIs. Saves on performance. [default: false]
        B:skipItemItems=false
    }

}


